.business-form {
  padding: 10px;
  text-align: center;
  margin: 20px;
  height: 540px;
  border: 1px solid #e7e8e7;
  box-shadow: 0 20px 48px hsla(0, 0%, 66.7%, 0.29);
  border-radius: 32px;
  background-color: #fff;
}

.payroll-heading {
  padding: 10px;
  font-size: 22px;
}

.form-intro {
  text-align: center;
  font-size: 17px;
}

.switch-btn {
  display: flex;
  justify-content: space-evenly;
  background: aqua;
  padding: 6px;
  /* width: 90%; */
  border-radius: 18px;
  margin: 30px;
  border: 1px solid #e7e8e7;
}

.percentage {
  background: #fff;
  padding: 8px;
  border-radius: 15px;
}

.amount {
  background: green;
  padding: 8px;
  border-radius: 15px;
}

.total {
  background: chartreuse;
  width: 90%;
  padding: 11px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.allowance {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.small-input {
  background: purple;
}

.input-div {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 50%;
}

.business-btn {
padding-bottom: 5rem;
}