footer {
  margin: 0 100px;
}

.contact-us {
  margin-bottom: 40px;
}

.contact {
  font-size: 20px;
  margin: 0 0 16px 0;
  color: #212121;
}

.gmail {
  /* font-size:20px; */
  font-size: 18px;
  align-items: center;
  margin-bottom: 9px;
}

.number {
  margin-bottom: 9px;
}

.services {
  display: flex;
  gap: 20px;
}

.desktop {
  display: none;
}

.social-icons {
 
}
