/* @media only screen and (min-width: 768px) {
  .fixed-deposit-content {
  }

  .Proposed-duration {
    margin-right: 160px;
  }

  .deposited-amount {
    margin-right: 230px;
  }

  .rate {
    margin-right: 37px;
  }

  .fixed-deposit-heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0em;
    width: 330px;
    height: 55px;
    color: #212121;
    display: contents;
  }

  .select-account {
    display: flex;
    gap: 10px;
    margin-top: 42px;
    justify-content: center;
    align-items: center;
  }

  .choose-account {
    color: #667085;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
  }

  .bank-select {
    width: 190px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    background: #fff;
    box-shadow: 0px 1.04009px 2.08017px 0px rgba(16, 24, 40, 0.05);
  }
  .place-info {
    color: #202020;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-top: 42px;
  }
  .duration,
  .amount2 {
    border-radius: 8px;
    border: 1px solid var(--textfield-stroke, #d0d5dd);
    background: var(--White, #fff);
    box-shadow: 0px 1.04009px 2.08017px 0px rgba(16, 24, 40, 0.05);
    padding: 5px;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 40px;
  }
  .rate-input {
    border-radius: 8px;
    border: 1px solid var(--textfield-stroke, #d0d5dd);
    background: var(--background-gray, #eff0f1);
    box-shadow: 0px 1.04009px 2.08017px 0px rgba(16, 24, 40, 0.05);
    padding: 5px;
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 8px;
  }

  .return-heading {
    color: var(--Gray-Text, #667085);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
  }

  .return-choice {
    margin-bottom: 24px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .first-choice,
  .second-choice,
  .third-choice {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
  }

  .second-choice {
    margin-left: 31px;
  }

  .continue-btn {
    border-radius: 100px;
    border: 1px solid var(--Avvic-Blue-Pri, #0d9999);
    background: var(--Avvic-Blue-Pri, #0d9999);
    box-shadow: 0px 0.96021px 1.92041px 0px rgba(16, 24, 40, 0.05);
    padding: 6px;
    color: white;
    width: 320px;
  }
  .trial {
    margin-top: 24px;
  }
  .content {
    margin-right: 37px;
  }
} */

/* Second Form */
/* @media only screen and (min-width: 768px) {
  .second-form {
    margin: 0 400px;
    width: 555px;
  }

  .second-form-heading {
    color: #212121;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 51.2px;
  }

  .confirm-request-heading {
    color: #212121;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px;
    margin-bottom: 40px;
    margin-top: 42px;
  }

  .confirming-request {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .confirm-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .request-heading1 {
    color: #667085;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
  }
  .request-heading2 {
    color: #667085;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
  }
  .request-choice {
    color: #212121;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
  }

  .note-div {
    display: flex;
    gap: 5px;
    margin-left: 10px;
  }

  .note {
    color: red;
    font-size: 17px;
    font-weight: 500;
    margin-left: 5px;
  }
  .confirm-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .previous-btn {
    padding: 10px;
    width: 290.5px;
    height: 52px;
    border-radius: 100px;
    border: 1px solid var(--Avvic-Blue-Pri, #0d9999);
    box-shadow: 0px 0.96021px 1.92041px 0px rgba(16, 24, 40, 0.05);
    color: var(--Avvic-Blue-Pri, var(--Avvic-pry, #0d9999));
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px;
  }
  .submit-btn {
    padding: 10px;
    width: 290.5px;
    height: 52px;
    border-radius: 100px;
    box-shadow: 0px 0.96021px 1.92041px 0px rgba(16, 24, 40, 0.05);
    color: white;
    background: #0d9999;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px;
  }
} */

/* Transaction History */
@media only screen and (min-width: 768px) {
  .transaction-history-div {
  }
  .deposit-amount-container {
    width: 240px;
    height: 102px;
    color: var(--neutral-black, #212121);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.4px;
    border-radius: 8px;
    border: 1px solid var(--textfield-placeholder, #878e9d);
    background: rgba(2, 11, 50, 0.04);
  }
  .deposit-amount {
    color: var(--Gray-Text, #667085);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
  }
}
