@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

ul > li {
  margin-top: 3px;
}

main {
  /* text-align: center; */
  margin: 0 100px;
  /* display:flex;
  align-items: center;
  justify-content: center;
  height:100vh; */
}

.main-heading {
  font-size: 44px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 24px;
  width: 200%;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 2.5rem 0;
}

.run {
  color: #000;
}

.payroll {
  color: #11453b;
}

.easily {
  color: #b4a572;
}
.in {
}
.seconds {
  color: #ea4e4b;
}

.heading-paragraph {
  color: #515251;
  font-size: 16px;
  margin-bottom: 1.5rem;
  width: 200%;
}

.start-btn {
  background: #11453b;
  color: #fff;
  box-shadow: 0 8px 16px rgba(17, 69, 59, 0.2);
  font-size: 16px;
  width: 135%;
  border-radius: 32px;
  font-weight: 500;
  outline: none;
  height: 46px;
  padding-left: 30px;
  padding-right: 30px;
  transition: transform 0.25s ease;
}

.box-heading {
  color: #11453b;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.box2heading {
  width: 70%;
}

.download {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.download-eazipay {
  margin-bottom: 16px;
  margin-top: 40px;
  width: max-content;
  font-size: 15px;
  font-weight: 500;
}

/* section2 */

.section2 {
  padding: 40px 0px;
  margin: 0;
}

.box1,
.box2,
.box3 {
  background: darkgray;
  padding: 14px;
  margin: 15px;
  width: 190%;
  border-radius: 15px;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2heading {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #11453b;
  width: 300px;
  margin-right: 100px;
}

.small {
  color: #515251;
  font-size: 16px;
  line-height: 24px;
}

.section2-headline {
  margin-right: 60px;
}

.new {
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: black;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* section4 */

.section4 {
  margin-bottom: 70px;
}

.section4-heading {
  margin-bottom: 32px;
}

.section4-title {
  margin-bottom: 16px;
  font-size: 32px;
  color: rgb(17, 69, 59);
}

.scetion4-bottom {
  margin-top: 55px;
}

.prepare {
  font-size: 24px;
  margin-bottom: 16px;
}

.prepare-flex {
}

.run-payroll {
  font-size: 16px;
}

.iphone {
  border-radius: 30px;
}

/* Section 5 */
.section5 {
  background-image: url(/images/patterns.f71bb1a4.png);
  background-color: rgb(255, 233, 231);
  background-size: cover;
  background-position: 50% center;
}

.section5-heading {
  font-size: 35px;
}

.salary {
}
