@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

ul > li {
  margin-top: 3px;
}

main {
  text-align: center;
}

.main-heading {
  font-size: 44px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 24px;
  width: 200%;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 2.5rem 0;
}

.run {
  color: #000;
}

.payroll {
  color: #11453b;
}

.easily {
  color: #b4a572;
}
.in {
}
.seconds {
  color: #ea4e4b;
}

.heading-paragraph {
  color: #515251;
  font-size: 16px;
  margin-bottom: 1.5rem;
  width: 91%;
}

.start-btn {
  background: #11453b;
  color: #fff;
  box-shadow: 0 8px 16px rgba(17, 69, 59, 0.2);
  font-size: 16px;
  width: 63%;
  border-radius: 32px;
  font-weight: 500;
  outline: none;
  height: 46px;
  padding-left: 30px;
  padding-right: 30px;
  transition: transform 0.25s ease;
}

.store {
  box-shadow: rgba(170, 170, 170, 0.29) 0px 20px 48px 0px;
  height: 60px;
  border-radius: 9px;
}

.box-heading {
  color: rgb(17, 69, 59);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.box2heading {
  width: 70%;
}

.box-content {
  padding: 6px;
  text-align: start;
}

.download {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 60%;
}

.download-eazipay {
  margin-bottom: 16px;
  margin-top: 40px;
  width: max-content;
  font-size: 15px;
  font-weight: 500;
}

/* section2 */

.section2 {
  padding: 40px 0px;
  margin: 0;
}

.box1,
.box2,
.box3 {
  background: darkgray;
  padding: 16px;
  margin: 15px;
  width: 85%;
  border-radius: 16px;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2heading {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #11453b;
  width: 300px;
  margin-right: 100px;
}

.section2 {
  background-image: url(/images/audience-patterns.5d18a20d.png);
  background-color: white;
  background-size: cover;
  background-position: 50% center;
}

.small {
  color: #515251;
  font-size: 16px;
  width: 93%;
  text-align: center;
  line-height: 24px;
}

.section2-headline {
  margin-right: 60px;
}

.new {
}

/* section4 */

.section4 {
  margin-bottom: 70px;
}

.section4-heading {
  margin-bottom: 32px;
}

.section4-title {
  margin-bottom: 16px;
  font-size: 32px;
  color: rgb(17, 69, 59);
}

.section4-bottom {
  margin-top: 55px;
}

.number {
}

.prepare {
  font-size: 24px;
  margin-bottom: 16px;
  margin-right: 50px;
  color: #11453b;
}

.prepare-flex {
  display: flex;
  justify-content: space-around;
}

.run-payroll2 {
  font-size: 16px;
  width: 88%;
  text-align: center;
  margin-left: 25px;
  color: #11453b;
  font-weight: 500;
}

.iphone {
  border-radius: 40px;
  width: 60%;
  margin: 0 88px;
}

.free-download {
  margin-left: 105px;
}

/* Section 5 */
.section5 {
  background-image: url(/images/patterns.f71bb1a4.png);
  background-color: rgb(255, 233, 231);
  /* background: #11453b1a; */
  background-size: cover;
  background-position: 50% center;
}

.section5-heading {
  font-size: 35px;
}

.salary {
  color: #ea4e4b;
}

.section5content {
  max-width: 1120px;
  margin: auto;
  padding: 0 18px;
}

.section5firstdiv {
  margin-bottom: 2.5rem;
  margin-top: -62px;
}

.pink-pattern {
  height: 4rem;
  margin-left: 1.5rem;
}

/* section 6 */
.section6heading {
  font-size: 35px;
  color: #11453b;
  width: 93%;
  margin-left: 13px;
}

.section6 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.demo-form {
  padding: 10px;
  text-align: center;
  margin: 20px;
  width: 340px;
  height: 500px;
  border: 1px solid #e7e8e7;
  box-shadow: 0 20px 48px hsla(0, 0%, 66.7%, 0.29);
  border-radius: 32px;
  background-color: #fff;
}

.first-heading {
  padding: 10px;
  font-size: 22px;
  font-weight: 700;
  color: #515251;
}

.form-intro {
  text-align: center;
  font-size: 17px;
}

.switch-btn {
  display: flex;
  justify-content: space-evenly;
  background: white;
  padding: 6px;
  gap: 10px;
  border-radius: 18px;
  margin: 30px;
  border: 1px solid #e7e8e7;
}

.company {
  padding: 8px;
  border-radius: 15px;
  background: #f2f1f1;
  color: #515251;
  font-size: 16px;
}

.amount {
  padding: 8px;
  border-radius: 15px;
  width: 111px;
  background: #11453b;
  color: #fff;
  box-shadow: 0 5.06963px 13.9415px -3.80222px rgba(24, 39, 75, 0.12),
    0 8.87185px 40.557px -2.53481px rgba(24, 39, 75, 0.12);
}

.total {
  background: white;
  border: #ccc solid 1px;
  width: 90%;
  height: 48px;
  padding: 11px;
  border-radius: 1rem;
  margin-bottom: 10px;
}

.small-input {
  height: 48px;
  border-radius: 1rem;
  padding: 20px;
  width: 140px;
  background: white;
  border: #ccc solid 1px;
}

.business-btn {
  padding-bottom: 5rem;
}

.run-payroll {
  background: #11453b;
  color: #fff;
  outline: none;
  height: 46px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  border-radius: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease;
  width: 90%;
  margin: 15px;
}

.desktop-only {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* section 2 */
  .box-content {
    color: white;
  }
  .box1,
  .box2,
  .box3 {
    background: #11453b;
  }

  /* section 6 */
  .desktop-only {
    display: block;
    font-size: 20px;
    line-height: 28px;
    width: 80%;
  }
  .desktop-view {
    display: flex;
    align-items: center;
  }
  .section6heading {
    font-size: 54px;
    margin-bottom: 1.5rem;
    width: 70%;
  }
  .desktop-text {
    text-align: left;
  }
  .demo-form {
  }

  /* Section 5 */
  .mobile-only {
    display: none;
  }
  .section5content {
  }
}

@media only screen and (min-width: 600px) {
}
